a {
	color: currentColor;
	text-decoration: underline;
	background-image: linear-gradient(to top, currentColor 10%, transparent 10%, transparent);
}

a:focus {
  outline: 1px solid;
  outline-offset: .15em;
}
