

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week], 
textarea
{
	border: 2px solid transparent;
	padding: 0.75em;
	width: 100%;
	background-color: transparent;
	transition: border-color 300ms ease-out;
	line-height: 1;
	@nest &:focus {
		border-color: currentColor;
		outline: none;
	}
}


form {
	display: flex;
	flex-wrap: wrap;
	border: none;
}

form input[type="search"] {
	width: auto;
	flex-grow: 1;
	border-color: transparent;
}


form input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	& ~ label {
		max-width: 80%;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		font-size: 1rem;
		margin-bottom: 0;
	}
}

