html {
  font-size: calc((var(--global-font-size)/16) * 1em); /* [1] */
  line-height: calc(var(--global-line-height) / var(--global-font-size)); /* [1] */
  font-weight: 500;

  font-family: var(--global-font-family);
  -webkit-font-smoothing: antialiased;
}

hr {
	height: 0;
	border: 0;
	border-bottom: 1px solid currentColor;
	opacity: 0.3;
}

pre{
	white-space: preline;
	font-family: inherit;
	font-size: inherit;
}

sup {
	font-size: 0.5em;
	vertical-align: top;
}

sup:before, sup:after {
	font-size: 0.8em;
	vertical-align: top;
	padding: 0.075em;
}

/*
sup:before{
	content: "(";
}
sup:after {
	content: ")";
}

*/
