h1, h2, h3, h4, h5, h6{
	color: currentColor;
	margin-bottom: 0;
	font-weight: bold;
	line-height: var(--heading-line-height);
}

h1 { font-size: calc(var(--h1)/var(--global-font-size) * 1rem); }
h2 { font-size: calc(var(--h2)/var(--global-font-size) * 1rem); }
h3 { font-size: calc(var(--h3)/var(--global-font-size) * 1rem); }
h4 { font-size: calc(var(--h4)/var(--global-font-size) * 1rem); }
h5 { font-size: calc(var(--h5)/var(--global-font-size) * 1rem); }
h6 { font-size: calc(var(--h6)/var(--global-font-size) * 1rem); }

.h1 { font-size: calc(var(--h1)/var(--global-font-size) * 1rem); }
.h2 { font-size: calc(var(--h2)/var(--global-font-size) * 1rem); }
.h3 { font-size: calc(var(--h3)/var(--global-font-size) * 1rem); }
.h4 { font-size: calc(var(--h4)/var(--global-font-size) * 1rem); }
.h5 { font-size: calc(var(--h5)/var(--global-font-size) * 1rem); }
.h6 { font-size: calc(var(--h6)/var(--global-font-size) * 1rem); }

@media (--for-phone-only){
	h1 { font-size: calc(var(--h1)/var(--global-font-size) * 0.85rem); }
	.h1 { font-size: calc(var(--h1)/var(--global-font-size) * 0.85rem); }
}
