table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--gray);
	font-size: 14px;
	@media (--for-landscape-tablet-and-up){
		table-layout: fixed;
	}
}


tr {
	border-bottom: 1px solid var(--gray-light);
}

td, th {
	text-align: left;
	padding: 5px;
	@media (--for-landscape-tablet-and-up){
		padding: 0.75em 2em;
	}
}
th {
	border-color: transparent;
}

.table-wrapper {
	@media (--for-phone-only){
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		margin: 0;
		max-width: 100%;
		position: relative;
	}

	@media (--for-desktop-and-up){
		width: calc(12 / 8 * 100%);
		margin-left: calc(2 / 8 * -100%);
	}

	& table{
		margin: 0;
	}
	& td, & th{
		@media (--for-phone-only){
			padding: 10px 20px;
			&:after{
			  content: "";
			  display: block;
			  min-width: 200px;
			}
		}
	}
}

