.u-text-light         { font-weight: 300 !important; }
.u-text-normal        { font-weight: normal !important; }
.u-text-bold          { font-weight: bold !important; }

.u-text-center        { text-align: center !important; }
.u-text-right         { text-align: right !important; }
.u-text-left          { text-align: left !important; }

.u-text-underline     { text-decoration: underline !important; }
.u-text-no-underline  { text-decoration: none !important; }

.u-text-smaller       { font-size: calc((var(--global-font-size)/16) * 0.8rem) !important; }
.u-text-smallest      { font-size: calc((var(--global-font-size)/16) * 0.7rem) !important; }
