
/*
	This aint generated; change accordingly if needed
	However, this shouldnt be needed, if less than 12 --columns are set
	it's as easy as not using the ones above.
 */


.u-1	{ width: calc( 1 / var(--columns) * 100% ); }
.u-2	{ width: calc( 2 / var(--columns) * 100% ); }
.u-3	{ width: calc( 3 / var(--columns) * 100% ); }
.u-4	{ width: calc( 4 / var(--columns) * 100% ); }
.u-5	{ width: calc( 5 / var(--columns) * 100% ); }
.u-6	{ width: calc( 6 / var(--columns) * 100% ); }
.u-7	{ width: calc( 7 / var(--columns) * 100% ); }
.u-8	{ width: calc( 8 / var(--columns) * 100% ); }
.u-9	{ width: calc( 9 / var(--columns) * 100% ); }
.u-10	{ width: calc( 10 / var(--columns) * 100% ); }
.u-11	{ width: calc( 11 / var(--columns) * 100% ); }
.u-12	{ width: calc( 12 / var(--columns) * 100% ); }


@media (--for-portrait-tablet-and-up){
	.u-1\@tablet{ width: calc( 1 / var(--columns) * 100% ); }
	.u-2\@tablet{ width: calc( 2 / var(--columns) * 100% ); }
	.u-3\@tablet{ width: calc( 3 / var(--columns) * 100% ); }
	.u-4\@tablet{ width: calc( 4 / var(--columns) * 100% ); }
	.u-5\@tablet{ width: calc( 5 / var(--columns) * 100% ); }
	.u-6\@tablet{ width: calc( 6 / var(--columns) * 100% ); }
	.u-7\@tablet{ width: calc( 7 / var(--columns) * 100% ); }
	.u-8\@tablet{ width: calc( 8 / var(--columns) * 100% ); }
	.u-9\@tablet{ width: calc( 9 / var(--columns) * 100% ); }
	.u-10\@tablet{ width: calc( 10 / var(--columns) * 100% ); }
	.u-11\@tablet{ width: calc( 11 / var(--columns) * 100% ); }
	.u-12\@tablet{ width: calc( 12 / var(--columns) * 100% ); }
}

@media (--for-desktop-and-up){
	.u-1\@desktop{ width: calc( 1 / var(--columns) * 100% ); }
	.u-2\@desktop{ width: calc( 2 / var(--columns) * 100% ); }
	.u-3\@desktop{ width: calc( 3 / var(--columns) * 100% ); }
	.u-4\@desktop{ width: calc( 4 / var(--columns) * 100% ); }
	.u-5\@desktop{ width: calc( 5 / var(--columns) * 100% ); }
	.u-6\@desktop{ width: calc( 6 / var(--columns) * 100% ); }
	.u-7\@desktop{ width: calc( 7 / var(--columns) * 100% ); }
	.u-8\@desktop{ width: calc( 8 / var(--columns) * 100% ); }
	.u-9\@desktop{ width: calc( 9 / var(--columns) * 100% ); }
	.u-10\@desktop{ width: calc( 10 / var(--columns) * 100% ); }
	.u-11\@desktop{ width: calc( 11 / var(--columns) * 100% ); }
	.u-12\@desktop{ width: calc( 12 / var(--columns) * 100% ); }
}

.u-pw1	{ margin-left: calc( 1 / var(--columns) * 100% ); }
.u-pw2	{ margin-left: calc( 2 / var(--columns) * 100% ); }
.u-pw3	{ margin-left: calc( 3 / var(--columns) * 100% ); }
.u-pw4	{ margin-left: calc( 4 / var(--columns) * 100% ); }
.u-pw5	{ margin-left: calc( 5 / var(--columns) * 100% ); }
.u-pw6	{ margin-left: calc( 6 / var(--columns) * 100% ); }
.u-pw7	{ margin-left: calc( 7 / var(--columns) * 100% ); }
.u-pw8	{ margin-left: calc( 8 / var(--columns) * 100% ); }
.u-pw9	{ margin-left: calc( 9 / var(--columns) * 100% ); }
.u-pw10	{ margin-left: calc( 10 / var(--columns) * 100% ); }
.u-pw11	{ margin-left: calc( 11 / var(--columns) * 100% ); }
.u-pw12	{ margin-left: calc( 12 / var(--columns) * 100% ); }
