{% extends '_layouts/_master' %}

{% block body %}

	{% block header %}
		{% cache globally using key "site-header" %}
			{% include '_components/_header' %}
		{% endcache %}
	{% endblock %}


	<main id="content">
		<div id="barba-wrapper">
			<div class="barba-container segment-{{ craft.request.getSegment(1) ?: 'home' }} ">
				{% block content %}

				{% endblock %}
			</div>
		</div>
	</main>

	<footer class="c-footer">
		{% block footer %}
			{% cache globally using key "site-footer" %}
				{% include '_components/_footer' %}
			{% endcache %}
		{% endblock %}
	</footer>

{% endblock %}
