{# Macros #}

{# import '_macros/...' as macroName #}

<!DOCTYPE html>
<html class="">
	<head>
		{% block head %}
			{# Adding downloadable assets first makes things render faster #}
			{% if craft.config.devMode %}
				<link rel="stylesheet" href="/assets/css/styles.css" />
			{% else %}
				<link rel="stylesheet" href="/assets/css/styles.min.css" />
			{% endif %}
		{% endblock %}
		<link rel="dns-prefetch" href="https://www.google-analytics.com">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>

		{% block body %}{% endblock %}

			{% if not craft.request.isLivePreview %}
				<script>
					window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-XXXXXXXX-X','auto');ga('send','pageview')
				</script>
				<script src="https://www.google-analytics.com/analytics.js" async defer></script>
			{% endif %}

			{% if craft.config.devMode %}
				<script src="/assets/js/main.js" defer></script>
			{% else %}
				<script src="/assets/js/main.min.js" defer></script>
			{% endif %}
		</body>
	</html>
