{% extends "entry/default" %}
{% block itemContent %}

	<div class="c-content c-content-column js-in-view u-mb4 u-mt4">
		<h1 class="h1 u-12 u-8@tablet u-6@desktop u-max o-grid__item">
			{{entry.title}}
		</h1>
		{% if entry.ingress|length %}
			<p class="h3 u-12 u-8@tablet u-6@desktop u-max o-grid__item">
				{{entry.ingress}}
			</p>
		{% endif %}
	</div>

	{{ parent() }}
{% endblock %}
