.o-flex{ display: flex; }

.o-flex--v-top{ align-items: flex-start; }
.o-flex--v-center{ align-items: center; }
.o-flex--v-bottom{ align-items: flex-end; }

.o-flex--content-center{ align-content: center; }

.o-flex--h-left{ justify-content: flex-start; }
.o-flex--h-center{ justify-content: center; }
.o-flex--h-right{ justify-content: flex-end; }
.o-flex--h-space-between { justify-content: space-between; }

.o-flex--flex-wrap{ flex-wrap: wrap; }

.o-flex--flex-start{ align-self: flex-start; }
.o-flex--flex-end{ align-self: flex-end; }
