.o-typography {

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6{
		margin: 1rem 0 0.5em;
		font-size: var(--h3);
	}

	& p {
		margin-bottom: 0;
		margin-top: 0;
	}
	& ul, & ol{
		margin-left: 0;
	}
	& li + li { margin-top: 0.25em; }

	& p + p {
		margin-top: 1.5em;
	}

}
