:root{
	--wrapper {

	width: 100%;
	max-width: none;
	padding-right: calc( var(--gutters) * 2 );
	padding-left: calc( var(--gutters) * 2 );

	@media (--for-desktop-and-up){
		/* Adds padding that matches max-width */
		padding-right: calc((50% - (var(--global-max-width) / 2) + var(--gutters)));
		padding-left: calc((50% - (var(--global-max-width) / 2) + var(--gutters)));
	}
	}
}

.o-wrapper {
	@apply --wrapper;
}
.o-wrapper--spaced{
	margin-top: 25vh;
}
