.o-video{
	position: relative;
}

.o-video:after {
	position: relative;
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56%;
}

.o-video *:first-child{
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
	z-index: 20;
}
