
:root {
	/* Globals */
	--global-font-size: 	18;
	--global-line-height: 	26;
	--global-font-family:	sans-serif;

	--global-max-width:		1200px;

	/* Grids & Widths */
	--gutters: 				0.75rem;
	--columns: 				12;

	/* Spacing Units for margins/paddings */
	--spacing-1: 		calc(var(--global-line-height)/var(--global-font-size) * 0.5 * 1rem);
	--spacing-2: 		calc(var(--global-line-height)/var(--global-font-size) * 0.75 * 1rem);
	--spacing-3: 		calc(var(--global-line-height)/var(--global-font-size) * 1 * 1rem);
	--spacing-4: 		calc(var(--global-line-height)/var(--global-font-size) * 2 * 1rem);
	--spacing-5: 		calc(var(--global-line-height)/var(--global-font-size) * 3 * 1rem);


	--heading-line-height: 	1.2;
	--h1:  34;
	--h2:  28;
	--h3:  24;
	--h4:  18;
	--h5:  16;
	--h6:  14;

	--grid {
		margin-left: calc(var(--gutters) - ( var(--gutters) * 2 ));
		margin-right: calc(var(--gutters) - ( var(--gutters) * 2 ));
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		max-width: var(--global-max-width);
	}

	--grid-column {
		padding-left: var(--gutters);
		padding-right: var(--gutters);
	}
}
